﻿@using PagedList
@using PagedList.Mvc

@model PagedList.IPagedList<MyPortfolioProject.Models.Skills>
@{
    ViewBag.Title = "SkillList";
    Layout = "~/Views/Admin/Index.cshtml";
}

<h2 class="mb-4">Yetenek Listesi ve İşlemleri</h2>
<br />

<td><a href="/Skill/CreateSkill" class="btn btn-info">Yeni Yetenek Girişi</a></td>
<br />
<br />

<table class=" table table-bordered">
    <tr>
        <th>Id</th>
        <th>Başlık</th>
        <th>Değer</th>
        <th>İkon</th>
        <th>Sil</th>
        <th>Güncelle</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.SkillId</td>
            <td>@item.SkillName</td>
            <td>@item.Rate</td>
            <td>@item.Icon</td>
            <td><a href="/Skill/DeleteSkill/@item.SkillId" class="btn btn-danger">Sil</a></td>
            <td><a href="/Skill/UpdateSkill/@item.SkillId" class="btn btn-success">Güncelle</a></td>
        </tr>
    }

</table>
<br />

<div class="container">
    <div class="d-flex justify-content-between align-items-center">
        @Html.PagedListPager((IPagedList)Model, page => Url.Action("SkillList", new { page }))
    </div>

</div>


<link href="~/Content/PagedList.css" rel="stylesheet" />