@model MyPortfolioProject.Models.Contact
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

@Html.Action("PartialHead", "Default")

<body>

    <!-- Spinner Start -->
    <div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
        <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
            <span class="sr-only">Yükleniyor...</span>
        </div>
    </div>
    <!-- Spinner End -->
    <!-- Navbar Start -->
    @Html.Action("PartialNavbar", "Default")
    <!-- Navbar End -->
    <!-- Header Start -->
    @Html.Action("PartialHeader", "Default")
    <!-- Header End -->
    <!-- About Start -->
    @Html.Action("PartialAbout", "Default")
    <!-- About End -->
    <!-- Education Start -->
    @Html.Action("PartialEducation", "Default")
    <!-- Education End -->
    <!-- Experience Start -->
    @Html.Action("PartialExperience", "Default")
    <!-- Exparience End -->
    @* ıntern start *@
    @Html.Action("PartialIntern", "Default")
    @* end *@

    <!-- Skills Start -->
    @Html.Action("PartialSkill", "Default")
    <!-- Skills End -->
    <!-- Service Start -->
    @Html.Action("PartialServices", "Default")
    <!-- Service End -->
    <!-- Portfolio Start -->
    @Html.Action("PartialPortfolio", "Default")
    <!-- Portfolio End -->
    <!-- Testimonial Start -->
    @Html.Action("PartialTestimonial", "Default")
    <!-- Testimonial End -->
    <!-- Contact Start -->
    @Html.Action("PartialContact", "Default")
    <!-- Contact End -->
    <!-- Footer Start -->
    @Html.Action("PartialFooter", "Default")
    <!-- Footer End -->
    <!-- Back to Top -->
    <a href="#" class="btn btn-primary btn-lg-square back-to-top"><i class="fa fa-arrow-up"></i></a>


    <!-- Script -->
    @Html.Action("PartialScript", "Default")
    <!-- Script -->
</body>

</html>