@model List<MyPortfolioProject.Models.Contact>
@{
    ViewBag.Title = "Inbox";
    Layout = "~/Views/Admin/Index.cshtml";
    int count = 0;
}

<h2>Gelen Mesajlar Sayfası</h2>

<table class="table table-bordered ">
    <tr>
        <th width="20px">#</th>
        <th width="120px">Gönderen</th>
        <th width="150px">Email</th>
        <th width="100px">Tarih</th>
        <th width="70px">Kategori</th>
        <th width="60px">Konu</th>
        <th width="70px">Durum</th>

        <th width="220px">İşlemler</th>
    </tr>



    @foreach (var item in Model)
    {
        string categoryColor = "";
        if (item.Category.CategoryName == "Teşekkür")
        {
            categoryColor = "darkslateblue";
        }
        if (item.Category.CategoryName == "Öneri")
        {
            categoryColor = "green";
        }
        if (item.Category.CategoryName == "Proje Talebi")
        {
            categoryColor = "brown";
        }
        if (item.Category.CategoryName == "Referans")
        {
            categoryColor = "darkblue";
        }
        if (item.Category.CategoryName == "Toplantı")
        {
            categoryColor = "greenyellow";
        }
        if (item.Category.CategoryName == "Görüşme")
        {
            categoryColor = "purple";
        }
        if (item.Category.CategoryName == "Reklam")
        {
            categoryColor = "springgreen";
        }
        if (item.Category.CategoryName == "Diğer")
        {
            categoryColor = "chocolate";
        }


        count++;
        <tr>
            <td>@count</td>
            <td>@item.NameSurname</td>
            <td>@item.Email</td>
            <td>@item.SendDate.Value.ToShortDateString()</td>
            <td>  <span class="badge"  style="color:@categoryColor"> @item.Category.CategoryName</span> </td>
            <td>@item.Subject</td>
            <td>

                @if (item.IsRead == true)
                {
                    <span class="badge badge-success"> Okundu </span>
                }
                else
                {
                    <span class="badge badge-danger">Okunmadı</span>
                }

            </td>


            <td class="col-form-label">
                @if (item.IsRead == false)
                {
                    <a href="/Message/ChangeMessageStatusToTrue/@item.ContactId" class="btn btn-outline-success">Okundu Olarak işaretle </a>
                }
                else
                {
                    <a href="/Message/ChangeMessageStatusToFalse/@item.ContactId" class="btn btn-outline-dark">Okunmadı Olarak işaretle </a>
                }
                <br />
                <br />
                <a href="/Message/MessageDetails/@item.ContactId" class="btn btn-outline-info">Mesajın İçeriği</a>
                <br />
                <br />
                <a href="/Message/DeleteMessage/@item.ContactId" class="btn btn-danger">Mesajı Sil</a>
            </td>
        </tr>
    }

</table>


